.program-container {
	
  height: 500px;
  background-color: transparent;
  padding: 20px;
  z-index: 5;
}


.program-iframe {
	 position: relative; /* 确保可以使用z-index */
  width: 640px;
  height: 360px;
  border: 0;
  z-index: 5;
}




@media (max-width: 768px) {
    .program-iframe {
        width: 100%; /* 將寬度設為 100%，使其滿版顯示 */
      height: 300px; /* 重置高度 */
 
	   
		
    }
}