.App {
  text-align: center;
  box-sizing: border-box;
	background-color: #0a0f24; /* 深色背景 */

}
.Particles {
  position: absolute; /* 确保可以使用z-index */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* 设置为负值，使其位于其他内容之后 */
}



